<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtre os Prontuários</h3>
  </div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="filtro">Filtro</label>
        <input type="text" class="form-control" id="filtro" placeholder="Filtro" ng-model="filtro">
        Encontrados {{pFiltrados.length}} prontuários
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  clique no título das colunas para ordenar
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th ng-click="ordena('mae.nome')">NOME DA MÃE</th>
      <th ng-click="ordena('crianca.nome')">NOME DO FILHO</th>
      <th ng-click="ordena('mae.cidade')">CIDADE</th>
      <th ng-click="ordena('crianca.maFormacao')">MÁ FORMAÇÃO</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="prontuario in prontuarios|filter:filtro|orderBy:ordem as pFiltrados">
      <td>{{prontuario.mae.nome}}</td>
      <td>{{prontuario.crianca.nome}}</td>
      <td>{{prontuario.mae.cidade}}</td>
      <td>{{prontuario.crianca.maFormacao}}</td>
      <td style="min-width: 80px">
        <button class="btn btn-primary btn-xs" ng-click="detalhe(prontuario)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <button class="btn btn-danger btn-xs" ng-click="excluir(prontuario)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-if="prontuarios.length === 0">
  <h3>Aguarde, carregando ...</h3>
</div>