<ul class="nav nav-tabs">
  <li role="presentation"><a ui-sref="editar_prontuario({id: id_prontuario})">Prontuário</a></li>
  <li role="presentation" class="active"><a ui-sref="novo_laudo({id_prontuario: id_prontuario})">Novo Laudo</a></li>
  <li role="presentation"><a ui-sref="listar_laudos({id_prontuario: id_prontuario})">Laudos</a></li>
  <li role="presentation"><a ui-sref="novo_exame({id_prontuario: id_prontuario})">Novo Exame</a></li>
  <li role="presentation"><a ui-sref="listar_exames({id_prontuario: id_prontuario})">Exames</a></li>
  <li role="presentation"><a ui-sref="novo_gmfm({id_prontuario: id_prontuario})">Novo GMFM</a></li>
  <li role="presentation"><a ui-sref="listar_gmfms({id_prontuario: id_prontuario})">GMFMs</a></li>

  <li role="presentation"><a ui-sref="novo_antropometria({id_prontuario: id_prontuario})">Novo Antropometria</a></li>
  <li role="presentation"><a ui-sref="listar_antropometrias({id_prontuario: id_prontuario})">Antropometrias</a></li>

  <li role="presentation" ng-if="admin"><a ui-sref="exportar({id_prontuario: id_prontuario})">Exportar</a></li>
</ul>

<form id="formulario">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Data Início Sintomas</label>
        <input type="date" class="form-control" ng-model="laudo.dataInicioSintomas">
      </div>
    </div> <!-- div data início sintomas -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Data Coleta</label>
        <input type="date" class="form-control" ng-model="laudo.dataColeta">
      </div>
    </div> <!-- div data coleta -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Data Resultado</label>
        <input type="date" class="form-control" ng-model="laudo.dataResultado">
      </div>
    </div> <!-- div data resultado -->
  </div> <!-- row das datas -->
  <div class="form-group">
    <label>Material Coletado</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.materialColetado.sa"> SANGUE - SA
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.materialColetado.ur"> URINA - UR
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.materialColetado.la"> LÍQUIDO AMNIÓTICO - LA
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.materialColetado.lcr"> LÍQUIDO CEFALORRAQUIDIANO - LCR
      </label>
    </div>
  </div> <!-- checkboxes do material coletado -->
  <div class="form-group">
    <label>Outros Sintomas</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.febre"> Febre
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.dorDeCabeca"> Dor de cabeça
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.exantema"> Exantema
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.conjuntivite"> Conjuntivite
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.dorCorpo"> Dor pelo corpo
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.dorRetroOrbital"> Dor retro-orbital
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="laudo.sintomas.dorArticulacoes"> Dor nas articulações
      </label>
    </div>
  </div> <!-- checkboxes do material coletado -->
  <div class="form-group">
    <label>Metodologia</label>
    <textarea class="form-control" rows="3" ng-model="laudo.metodologia"></textarea>
  </div> <!-- metodologia -->
  <div class="form-group">
    <label>Resultado</label>
    <div class="radio">
      <label>
        <input type="radio" name="resultado" ng-model="laudo.resultado" value="INDETECTAVEL"> INDETECTÁVEL
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="resultado" ng-model="laudo.resultado" value="DETECTAVEL"> DETECTÁVEL - Amplificação do ácido nucléico observada até o ciclo 38 de detecção.
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="resultado" ng-model="laudo.resultado" value="INDETERMINADO"> INDETERMINADO - Amplificação residual do ácido nucléico observada após o ciclo 38.
      </label>
    </div>
  </div> <!-- radios do resultado -->
  <div class="form-group">
    <label>Conclusão</label>
    <p>
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.zikv.positivo"/> ZIKV</label> 
      identificado em amostra de 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.zikv.sg"/> SG</label> 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.zikv.ur"/> UR</label> 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.zikv.la"/> LA</label> 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.zikv.lcr"/> LCR</label> 
    </p>
    <p>
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.chikv.positivo"/> CHIKV</label> 
      identificado em amostra de 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.chikv.sg"/> SG</label> 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.chikv.ur"/> UR</label> 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.chikv.la"/> LA</label> 
      <label class="checkbox-inline"><input type="checkbox" ng-model="laudo.conclusao.chikv.lcr"/> LCR</label>
    </p>
  </div> <!-- conclusão -->
  <div class="form-group">
    <label>Imagem da Assinatura</label>
    <input class="form-control" filepicker type="filepicker" data-fp-services="computer,facebook,webcam,box" on-success="onUploadedAssinatura(event.fpfile)" data-fp-button-class="btn btn-success" data-fp-button-text="Escolher Arquivo" />
  </div> <!-- Upload da assinatura -->
  <div class="row text-center well" ng-show="laudo.assinatura">
    <img id="assinatura" ng-src="{{laudo.assinatura}}" crossOrigin="Anonymous">
  </div> <!-- Preview da assinatura -->
  <div class="form-group">
    <label>Observações</label>
    <p>
      <small>(1) No caso de NÃO estar detectável na amostra, deve-se levar em consideração o tipo de material coletado e o tempo transcorrido entre o ínicio do sintomas observados e a data da coleta da amostra para realização do exame.</small>
    </p>
    <p>
      <small>(2) Amostra com detecção indeterminada para o ácido nucléico sugerimos a realização de nova coleta.</small>
    </p>
  </div>
  <div class="row text-center">
    <button type="button" class="btn btn-primary" ng-click="emitir()">Emitir Laudo</button>
    <button type="button" class="btn btn-default" ng-click="limpar()">Limpar Formulário</button>
  </div>
</form>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" frameborder="0"></iframe>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->